body{
    font-family: 'Montserrat-light', sans-serif;
    text-align: center;  /*after refactoring the text-aling center from all section */
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.25;
}

h2{
    line-height: 1.5;
    font-size: 3rem;
}

h3{
    font-weight:bold;
    font-size: 1.5rem;
}

h6 {
    font-size: 1.5rem;
}

p{
    color: #fff;
}

.top-space {
    padding: 24px 0 0 0;
}

/* a{
    text-decoration: none;
    text-decoration-line: none ;
} */

/* a:hover{
    color: white;
} */

.container-fluid{
    padding: 3% 10% 8%;
}

#title{
    background-color: #EA047E;
    color: #FCE700;
    font-weight: bold;
    text-align: left;
    height: 100vh;


    /* flex */
    display: flex;
    align-items: center;
}  

/* navigation bar */

.navbar{
    padding: 0 0 4.5rem 0;
    /* background-color: #2A2F66; */
}

.navbar-brand{
    font-family:'Ubuntu', sans-serif; 
    font-size: 3.5rem;
    color: white;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.5rem;
    font-weight: lighter;
    color: #fff;
}

/* Download buttons */

.download-button{
    margin: 5% 3% 5% 0;
    color: black;
    background-color: #FCE700;
}

/* Title Image */

.title-image{
    width: 100%;
    height: auto;
    margin: 0 0 0 72px;
    background: transparent;
    /* position: absolute;
    right: 10%; */

}



/* features section */

#features{
    padding: 3% 9%;
    background-color:white;
    position: relative
    /* z-index: 1; */
}

.features-box{
    padding: 5%;
    border-radius: 110px;
}

.icon{
    padding-bottom: 10px;
    color:#ef8172 ;
}

.icon:hover{
    color: #ff4c68;
}



/* activity section */

#activity{
    padding: 100px;
    background-color: #FCE700;
    min-height: 100vh;
}

.activity-column{
    padding: 3% 5%;
}



/* footer section */

#footer{
    padding: 7% 15%;
    
    background-color: #EA047E;
}

.footer-icon{
    margin: 0 10px ;
    padding-bottom:3% ;
}

.copy-footer{
    font-size: 20px;
}

img{
    width: 300px;
    height: 255px;
    border-radius: 50px;
    margin-bottom: 15px;

}
/* .features-text{
    margin-left: 35px;
} */

.card{
    width: 25rem;
    background-color: #FCE700;
    border: none;
}

.features-icon{
    float: left;
    margin-right: 20px;
}

.brand-img{
    width: 300px;
    margin-right: 5px;
    margin-bottom: 10px;
}

